<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Voyager's Mission</h2>
                <hr class="light">
                <p class="text-faded">The mission is simple: secure and operate the Cardano network. We create blocks and validate the transactions that happen on the blockchain.</p>
                <a href="#" class="btn btn-default btn-xl">Delegate to VOYAGER</a>
            </div>
        </div>
    </div>
</section>
