<section class="bg-primary" id="about" style="background: #02AAB0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Voyager's Mission</h2>
                <hr class="light">
                <p class="text-faded">The mission is simple: secure and operate the Cardano network. We create blocks and validate the transactions that happen on the blockchain.</p>
                <a href="https://adapools.org/pool/ef603340ac08cbe1cbe003821a2272e15612b50b86c0066e043dc64e" class="btn btn-default btn-xl">Delegate to VOYAGER</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-top: 50px;">
                <h2 class="section-heading">Specs</h2>
                <hr class="light">
                <p class="text-faded">We use a bare metal server and two VPS. They are secure, optimized and always up to date to ensure performance and reliability.</p>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-top: 50px;">
                <h2 class="section-heading">Live Stats</h2>
                <hr class="light">
                <script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script>
                $.getJSON('https://js.adapools.org/pools/ef603340ac08cbe1cbe003821a2272e15612b50b86c0066e043dc64e/summary.json', function(data) { 
                $.each( data.data, function( i, val ) { 
                        a=new Array('tax_fix','pledge','total_stake');
                        if(a.includes(i))  val=Math.round(parseInt(val)/1000000);
                        if(i=='blocks_lifetime') val=parseInt(val) + parseInt(data.data.blocks_epoch);

                        $('#ef603340ac08cbe1cbe003821a2272e15612b50b86c0066e043dc64e_'+i).html(val).text();   
                }); 
                        });
                </script>
            <p class="text-faded">Total Stake: <span id="ef603340ac08cbe1cbe003821a2272e15612b50b86c0066e043dc64e_total_stake"></span><br>Last Reward Epoch: <span id="ef603340ac08cbe1cbe003821a2272e15612b50b86c0066e043dc64e_rewards_epoch"></span><br>
            Blocks Lifetime: <span id="ef603340ac08cbe1cbe003821a2272e15612b50b86c0066e043dc64e_blocks_lifetime"></span><br>
            Blocks in epoch: <span id="ef603340ac08cbe1cbe003821a2272e15612b50b86c0066e043dc64e_blocks_epoch"></span></p><br>
            </div>
        </div>
    </div>
</section>
