<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Engine Room</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-tachometer-alt wow bounceIn text-primary"></i>
                    <h3>Performance & Reliability</h3>
                    <p class="text-muted">Good computers at multiple locations, for redundancy and fast block propagation.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user-astronaut wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>24h Monitoring</h3>
                    <p class="text-muted">Autopilot works. Sleep safe though, we always have a pilot at the helm.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-rocket wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Rocket Science Security</h3>
                    <p class="text-muted">Mission critical operations requires best in class security. We've done our homework.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe-africa fa-spin text-primary" data-wow-delay=".3s"></i>
                    <h3>Highly reliable</h3>
                    <p class="text-muted">Located on planet Earth, our servers have an uptime above 99.9%. We'll mint all the blocks coming our way.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Africa" style="background-image: url('https://raw.githubusercontent.com/voyagerstakepool/Voyager/master/img/astro%20africa.jpg');min-height: 700px;background-repeat: no-repeat;background-position: center;  ">
     <div class="container">
        <div class="row">
            <div class="col-sm-2 text-center">
            </div>
            <div class="col-sm-6 text-center">
                <h2 class="section-heading" style="color:white">We donate 20% of our profits to African Charities</h2>
                <p style="color:white">We want to support education, reforestation and access to water projects.</p>
                <p style="color:white">We believe transparency is very important, we'll share with you the full picture of where reward funds go, the progress and the results!</p>
            </div>
        </div>
    </div>
</section>






<section id="AfricaCharity1" style="background: #1c1d28; ">
     <div class="container">
        <div class="row">
            <div class="col-md-4 text-center" style="color:white">
             <h2 class="section-heading" style="color:white">EDUCATION</h2>
             <hr>
             <p>125 million school-age children are currently out of school worldwide.</p>


             <img style="max-width:55%;padding-bottom: 30px" src="https://raw.githubusercontent.com/voyagerstakepool/Voyager/master/img/streetchild.png"alt="Street Child">
             <p><a href="https://www.street-child.co.uk/">street-child.co.uk</a></p>
              <p>Street Child works with communities to build schools, train teachers, protect children and ensure that all solutions are sustainable long-term.</p>
              
              <hr>
              <h3>Each £100 Donation:</h3>
              <p>£100 could provide one household in Sierra Leone with livelihood support enabling them to afford the costs of sending their children back to school.</p>


            </div>
            <div class="col-md-4 text-center" style="color:white">
            <h2 class="section-heading" >REFORESTATION</h2>
            <hr>
            <p>Partly due to deforestation, millions of people suffer from food insecurity & live in extreme poverty.</p>


              <img style="max-width:55%;padding-bottom: 30px" src="https://raw.githubusercontent.com/voyagerstakepool/Voyager/master/img/treeaid.png"alt="Tree Aid">
              <p><a href="https://www.treeaid.org">treeaid.org</a></p>
              <p>Tree Aid works with local people to grow trees and restore land, to fight poverty and the effects of the climate crisis.
              <hr>
              <h3>Each £100 Donation:</h3>
              <p>A gift of £100 could provide 5 life-changing trees and the tools they need to look after them, giving a family nutritious food and produce to sell all year round.</p>

            </div>
            <div class="col-md-4 text-center" style="color:white">
              <h2 class="section-heading" >WATER</h2>
              <hr>
                <p>In Kenya, 8 out of 10 people lack access to clean water and good hygiene.</p>

              <img style="max-width:55%;padding-bottom: 30px" src="https://raw.githubusercontent.com/voyagerstakepool/Voyager/master/img/bigdeep.png"alt="Dig Deep">
              <p><a href="https://www.digdeep.org.uk">digdeep.org.uk</a></p>

              <p>Dig Deep's efforts ensure everyone has clean water, safe toilets and hygiene - forever"</p>
    
              

              <br><br>
              <hr>
              <h3>Each £100 Donation:</h3>
              <p>£100 could provide 2,000L of clean water storage for a school in Kenya.</p>


            </div>
          </div>
    </div>
</section>



<section id="FAQ" style="background: #FFAFBD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffc3a0, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
     <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">FAQ</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="https://raw.githubusercontent.com/voyagerstakepool/Voyager/master/img/cardano.png" style="height: 200px" data-wow-delay=".3s">
                <h2 class="section-heading">What's Cardano?</h2>
                <hr >
                <p class="text-muted">Made by Humans for the inhabitants of planet Earth, Cardano is a public blockchain project. It requires decentralized nodes to validate and secure transactions for all participants.</p>
                <br><br>
                <i class="fa fa-4x fa-money-bill-alt wow bounceIn text-primary" data-wow-delay=".2s"></i>
                <h2 class="section-heading">What are our fees ?</h2>
                <hr >
                <p class="text-muted">Neptune has a <b>fixed fee of 340 ₳ and a variable fee of 1%.</p>
                <br><br>
            </div>
        </div>
    </div>
</section>
