<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Engine Room</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-tachometer-alt wow bounceIn text-primary"></i>
                    <h3>Performance & Reliability</h3>
                    <p class="text-muted">Good computers at multiple locations, for redundancy and fast block propagation.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user-astronaut wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>24h Monitoring</h3>
                    <p class="text-muted">Autopilot works. Sleep safe though, we always have a pilot at the helm.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-rocket wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Rocket Science Security</h3>
                    <p class="text-muted">Mission critical operations requires best in class security. We've done our homework.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-globe-africa wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Highly reliable</h3>
                    <p class="text-muted">Located on planet Earth, our servers have an uptime at 99.9%+. We'll mint all the blocks coming our way.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="FAQ">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img href="https://raw.githubusercontent.com/voyagerstakepool/Voyager/master/img/cardano.png" style="height: 100px" data-wow-delay=".3s">
                <h2 class="section-heading">What's Cardano?</h2>
                <hr >
                <p class="text-muted">Made by Humans for the inhabitants of planet Earth, Cardano is a public blockchain project. It requires decentralized nodes to validate and secure transactions for all participants.<br><br>If you hold Ada (₳), you can participate in this process and earn rewards by staking your Ada. Your Ada remains within your complete control at all times and you are still allowed to transfer, spend, or move your staking delegation to another stake pool.</p>
                <br><br>
                <i class="fa fa-4x fa-money-bill-alt wow bounceIn text-primary" data-wow-delay=".2s"></i>
                <h2 class="section-heading">What are Voyager's stakepool fees ?</h2>
                <hr >
                <p class="text-muted">Voyager has a fixed fee of 340 ₳ and a variable fee of 1.5% to cover the operating costs ( and pay for space travel, you wouldn't believe how expensive a quick trip to the moon is!). The rest of the rewards are shared with all of you, Voyager's delegators.</p>
                <br><br>
            </div>
        </div>
    </div>
</section>
